{
  "presets": [ 
    "@babel/preset-react",
    [
      "@babel/preset-env",
      { 
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false,
        "targets": { 
            "node": "current"
        }
      },
    ],
  ],
  "ignore": null,
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "transform-class-properties",
  ],
}
