version: '3.7'

services:
  mongo:
    image: "mongo:3.6"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE:
      DB_DATABASE:
      DB_USERNAME:
      DB_PASSWORD:
    volumes:
      - "./mongoInit.sh:/docker-entrypoint-initdb.d/mongoInit.sh"
      - "mongo_data:/data/db/"

  node:
    build: 
      context: .
      target: base 
    environment: 
      CAS_URL:
      DB_HOSTNAME: 
      DB_PORT:
      DB_DATABASE: 
      DB_USERNAME:
      DB_PASSWORD:
      NODE_ENV:
      EXTERNAL_URL:
      SERVER_PORT:
      SESSION_SECRET:
    user: "1000:1000"
    ports:
      - "3000:3000"
    volumes:
      - ".:/node:rw"
    command: ["npm", "run", "start"]
    depends_on:
      - "mongo"

volumes:
  mongo_data:
