[Unit]
Description={{ application_name }}
After=mongod.service
Before=shutdown.target

[Service]
WorkingDirectory={{ application_root }}/build
ExecStart=/home/{{ application_name }}/.nvm/versions/node/v{{node_version}}/bin/node server.js
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app
User={{ application_name }}
Group={{ application_name }}

[Install]
WantedBy=multi-user.target
